* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background: #d62700;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 3px solid #8c240d; 
    padding-bottom: 10px; 
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
}

.navbar .logo a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
}

.logo #icon-logo {
    color: #fff;
    padding: 20px;
    font-size: 30px;
}

.navbar .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
}

.navbar .nav-menu a {
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    transition: 0.2s ease;
}

.navbar .nav-menu a:hover {
    color: #831;
}

.navbar .button .pedido {
    background-color: #8c240d;
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
    border-color: transparent;
    transition: 0.2s ease;
}

.navbar .button .pedido:hover {
    background-color: black;
}

.sidebar {
    background-color: #fff;
    width: 200px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
    position: absolute;
    height: calc(100% - 60px);
    top: 60px;
    left: 0;
    transform: translateX(-100%);
    z-index: 1000;
    border-radius: 10px;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar h3 {
    margin-bottom: 15px;
    color: red;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    cursor: pointer;
    margin: 10px 0;
    color: red;
}

.panel {
    display: none;
    padding-left: 10px;
}

.panel.active {
    display: block;
}

.menu-toggle {
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    margin-left: 15px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 150px;
    }
}
#imagem-logo img{
    border: 3px solid #fff;
    margin: 100px 40px 20px; 
    width: auto;
    height: auto;   
}
#mensagem{
    text-align: right;
    margin-top: 140px;
    margin-right: 50px;
    color: #fff;
    font-size: 32px;
}
#mensagem, #imagem-logo{
    display: inline-block;
    height: 100px;
}
#mensagem i{
    font-size: 82px;
    margin-right: 110px;
}
.category-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: calc(100% - 60px);
    z-index: 500;
    margin-top: 150px; 
}


.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.category .item {
    width: 300px;
    text-align: center;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
}

.category-image {
    width: 200px;  
    height: 200px; 
    object-fit: cover; 
    display: block;
    margin: 10px auto;
    border:2px solid #831;
}


.buttons {
    text-align: center;
    margin: 10px 0;
}

button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #8c240d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #831;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 90%;
}

.modal-content h3 {
    margin-bottom: 15px;
}

.modal-content label {
    display: block;
    margin-top: 10px;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    background-color: #8c240d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
}

.modal-content .close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.addProduto {
    display: none; 
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1002; 
    background-color: #fff; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 8px; 
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1001; 
}
.adicionarButton {
    position: fixed; 
    top: 0; 
    right: 20px; 
    margin: 5px; 
    padding: 10px 20px; 
    background-color: #8c240d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    z-index: 1000;
}

button:hover {
    background-color: #831; 
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px; 
    max-width: 90%; 
    position: relative; 
}

#editarProdutoModal {
    display: none; 
   
}